<!DOCTYPE html>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<div class="video-container">
    <iframe width="853" height="480" src="https://www.youtube.com/watch?v=YjVDjoImKgs" frameborder="0" allowfullscreen></iframe>
</div>

<h2>OUTLINE</h2>

<ul>
    <li>I. Objective Summary</li>
    <li>II. Marketing Requirements</li>
    <li>III. Objective Tree</li>
    <li>IV. Summary of Work</li>
    <li>V. Summary of Work</li>
</ul>


<h1>I. Objective Summary</h1>
<br>
<p>With the increase in the number of Electronic Health Record (EHR) systems being installed in modern hospitals, patient medical information can be more readily viewed and accessed over traditional paper records. However, with the increase of data presented
    in EHRs, doctors are spending additional time sifting through the information. This adds additional time the doctor must spend to find relevant details to patient complaints before they can begin with the diagnosis of the patient.
</p>
<br>
<p>The goal of this functional prototype was to strategically reduce the amount of time doctors spend reading patient charts by reinvisioning EHR data visualizations. This project predominantly involved developing a responsive web application which more
    concisely filters text for this need. The interface design aids doctors to conduct speedy diagnostics by summarizing the patient's medical history and only showing information that is relevant for that particular visit. It also reads, analyzes, and
    filters the patients data for the doctor. Once the data has been analyzed it is displayed in a timeline of previous visits or an ICD9 diagnosis tree that a doctor can more efficiently scan through.
</p>
<br>
<h1>II. Marketing Requirements</h1>
<br>
<ol>
    <li> Information is pulled directly from current EHR systems for the most up to date information</li>
    <li> Information shown can be filtered to only what is relebant to the patient's chief complaint</li>
    <li> Simple to find patient and view their history</li>
    <li> Previous care text should be concise and avoid repeated/redundant information</li>
    <li> Faster performance than doctor manual patient chart lookup</li>
    <li> Built for the web</li>
    <li> Require little to no training to use effectively</li>
    <li> Interfaces with multiple databases</li>
    <li> Information facilitates quick retrieval and review of available information</li>
</ol>