<!DOCTYPE html>
<header class="header-dev">
	<div>
		<h1>Joanne N. Bruno</h1>
		<a href="" target="_blank" rel="noopener noreferrer">Software Developer Designer</a>
	</div>
</header>

<div class = "container">

  <!-- Switch -->
  <div class="switch">
    <label ng-click="go('/illustrator')">
      Developer  
      <input type="checkbox">
     <span class="lever"></span>
      Illustrator
    </label>
  </div>

  <h1>Selection of Projects</h1>
  <hr>

  <!-- Project Cards -->
	<div class="row">

		<!-- Medidata Card -->


		<!-- Sickbay Card -->


		<!-- Etude Card -->


	</div>
</div>