<!DOCTYPE html>
<header class="header-dev">
	<div>
		<h1>Joanne N. Bruno</h1>
		<a href="" target="_blank" rel="noopener noreferrer">Software Developer Designer</a>
	</div>
</header>

  <!-- Switch -->
  <div class="switch">
    <label ng-click="go('/illustrator')">
      Developer  
      <input type="checkbox">
     <span class="lever"></span>
      Illustrator
    </label>
  </div>

  <hr>

  <div class="parallax-container">
    <div class="parallax"><img src="dist/images/developer/javascript.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Medidata</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="dist/images/developer/javascript.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">SickBay</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="dist/images/developer/javascript.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Etude</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>