<!DOCTYPE html>
<div class="header-content-dev section">
    <header class="header-dev">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col s2">
                        <img class="responsive-img" src="images/JB_Logo_Yellow.svg" alt="brand_logo">
                    </div>

                    <div class="col s6 push-s1 site-title-dev">
                        <h1>Joanne N. Bruno</h1>
                        <h5>Software Developer Designer + Concept Artist</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Switch -->
    <div class="switch">
        <label ng-click="go('/illustrator')">
      Developer  
      <input type="checkbox" >
     <span class="lever"></span>
      Artist
    </label>
    </div>

</div>


<div class="parallax-container">
    <div class="parallax"><img src="dist/images/developer/medidata/patient_profile.png"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">I. Medidata</h2>
        <p class="grey-text text-darken-3 lighten-3">Interactive Electronic Health Record (iEHR) Senior Capstone Project aimed at organizing data in a more informative and accesible way, reducing doctor wait times and improving accurate patient diagnoses.</p>
        <a class="waves-effect waves-light btn-large" href="templates/projects/medidata.html">View Project Details</a>
        <a class="waves-effect waves-light btn-large" href="templates/projects/medidata.html">Video Walkthrough</a>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="dist/images/developer/sickbay/sickbay_main.png"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">II. SickBay</h2>
        <p class="grey-text text-darken-3 lighten-3">Data.gov health care cost data vizualization using D3.js aimed at better informing trends of rising health care costs by state and by illness. </p>
        <a class="waves-effect waves-light btn-large" href="../projects/sickbay.html">View Project Details</a>
        <a class="waves-effect waves-light btn-large" href="http://joannenbruno.github.io/sickbay-viz/">View Site</a>
        <a class="waves-effect waves-light btn-large" href="https://github.com/joannenbruno/sickbay-viz">Github</a>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="dist/images/developer/etude/etude_project.png"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">III. Etude</h2>
        <p class="grey-text text-darken-3 lighten-3">SXSW Music Hackathon 2016 project intented to allow musicians to collaborate and visualize their creations across any distance.</p>
        <a class="waves-effect waves-light btn-large" href="../projects/etude.html">View Project Details</a>
        <a class="waves-effect waves-light btn-large" href="https://github.com/joannenbruno/Etude">Github</a>
    </div>
</div>


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Made with &#60;3 using:</h5>

                <div class="row">
                    <div class="col s2">
                        <img src="images/icons/HTML5CSS3Logos.svg" class="footer-language-logos" alt="HTML5 and CSS3">
                    </div>
                    <div class="col s2 pull-s1">
                        <img src="images/icons/AngularJS.png" class="footer-language-logos" alt="Angular JS">
                    </div>
                    <div class="col s1 pull-s2" style="padding-left:20px">
                        <img src="images/icons/gulp.svg" class="footer-language-logos" alt="Gulp">
                    </div>
                    <div class="col s2 pull-s2">
                        <img src="images/icons/materialize.png" class="footer-language-logos" alt="materialize">
                    </div>


                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Let's Chat!</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="joannenbruno@gmail.com"><img src="images/icons/gmail.png" alt="Gmail"></a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/joannenbruno"><img src="images/icons/linkedin-box.png" alt="LinkedIn"></a>
                    </li>
                    <a class="grey-text text-lighten-3" href="https://www.instagram.com/joannaartista/"><img src="images/icons/instagram.png" alt="Instagram"></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Joanne N. Bruno
        </div>
    </div>
</footer>